<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{this.user.name}} on {{format_date this.createdAt}}
    </div>
    <div class="text">
      {{this.text_comment}}
    </div>
  </section>
  {{/each}}
</div>